*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    background-color: black;
}
.header {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    opacity: 57%;
}
#search {
    background-color: black;
    border: white solid 2px;
    border-radius: 30px;
    width: 350px;
    padding: 20px;
    position: relative;
}


#click {
    background-color: black;
    position: absolute;
    right: 14px;
    top: 22px;
    height: 6px;
}
/* #img-search {position: absolute;
    top: -241px;
    left: 62px;
    width: 46px;
} */
.seach {
    margin-top: 16px;
}

a {
    font-size: x-large;
    margin-top: 36px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
#a1 {
    position: relative;
}

#poster {
    width: 100%;
}

#poste-1 {
    width: 100%
}

#movie-trailer-button {
    position: absolute;
    bottom: 300px;
}
#trailer {
    /* position: absolute;
    bottom: 14%; */
}

#watch {
    position: absolute;
    background-color: black;
    width: 270px;
    height: 70px;
    border-radius: 30px;
    left: 35px;
}
#blue {
    position: absolute;
    left: 40px;
 
}
#red{
    position: absolute;
    left: 20px;
}
#detail-moving {
    position: absolute;
    bottom: 140px;
    left: 20px;
}
#arrow {
    position: absolute;
    left: 40px;
    top: 5px;
}
#new-out-movie {
    position: absolute;
    width: 90px;
    bottom: 245px;
    left: 350px;
}

#text1 {
    position: absolute;
    font-size: 33px;
    opacity: 70%;
    inline-size: max-content;

}
#text2 {
    font-size: 19px;
    opacity: 90%;

}
.item-1 {
    /* display: grid;
    grid-template-columns: auto auto auto auto;
    list-style-type: none;
    gap: 95px 45px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
}
h2 {
    margin-top: 3%;
    padding: 2%;
    font-size: 3.1pc;
}
 #space-1 {
    background-color: white;
    margin: 46px;
    padding: 1px;
 }
 #space-2 {
    position: absolute;
    width: 90%;
    background-color: white;
    padding: 2px;
    margin-top: 86px;
    margin: 80px;
    opacity: 85%;
 }
 .menu-suit {
    width: 20px;
    
 }
 /* item */
 .title {
    font-size: 30px;
 }
.value-movie {
    display: flex;
    justify-content: space-between;
}
.watch-trailer {
    background-color: #2C2C2B;
    width: 125px;
    border-radius: 15px;
    display: flex;
    align-content: stretch;
    font-size: 27px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-right: 38px;
}
#watch-parent {
    /* position: absolute;
    bottom: 171px; */
}
.value {
    margin-right: 154px;
    margin-top: 23px;
    font-size: 21px;
}
.item-img {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    position: relative;
}

.like-img {
    position: absolute;
}
img.favorite {
    margin-right: 15px;
    margin-top: 13px;
}

#search-1 {
    display: flex;
    position: relative;
}